<div *ngIf="showUpdateMessage" class="update-message">
  Profile updated successfully!
</div>

<form [formGroup]="userFormGroup" (ngSubmit)="updateUser()">
  <div class="profile-container">
    <div class="left-side">
      <div class="column">
        <!-- Email Field -->
        <div class="field editable">
          <span class="static-text">Email:</span>
          <input type="email" formControlName="email" class="editable-input"/>
        </div>

        <!-- Phone Field -->
        <div class="field editable">
          <span class="static-text">Phone:</span>
          <input type="tel" formControlName="phone_number" class="editable-input"/>
        </div>

        <!-- Address Field -->
        <div class="field editable">
          <span class="static-text">Address:</span>
          <input type="text" formControlName="address" class="editable-input"/>
        </div>

        <div class="field editable">
          <span class="static-text">Payment Options:</span>
          <div class="payment-icons">
            <img src="/assets/images/icon_apple.png" alt="Apple Pay" (click)="payingOptions()">
            <img src="/assets/images/icon_visa.png" alt="Visa" (click)="payingOptions()">
            <img src="/assets/images/icon_plus.png" alt="More Options" (click)="payingOptions()">
          </div>
        </div>
      </div>
    </div>

    <div class="right-side">
      <!-- Profile Picture Section -->
      <div class="profile-picture" (click)="editPicture()">
        <img src="/assets/images/people/{{randomImage}}.jpg" alt="Profile Picture">
      </div>
    </div>

    <div class="buttons">
      <button class="profile-button" [routerLink]="'/vehicles-list-private/'" type="button">Vehicles</button>
      <button class="profile-button" (click)="changePassword()" type="button">Reset Password</button>
      <button class="profile-button" (click)="deleteMyAccount()" type="button">Delete My Account</button>
      <button class="profile-button" type="submit">&#9998; Save</button>
    </div>
  </div>
</form>
